*{
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Play', sans-serif;
  font-family: 'Orbitron', sans-serif;
}
.fondo-header{
  background-image: url("../img/mosaico-gloss-naranja.jpg");
}
.logo-header {
  background-image:url("../img/logo.jpg");
}
